body {
  background-color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(./images/Wallpaper.jpg);
  animation: animatedBackground 40s linear infinite;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  text-align: center;
  margin: auto;
  width: 55% ;
  border: solid #51aaa3 5px;
  background-color: slategray;
  opacity: 0.8;
}  

#start h1 {
  color: #fff ;
}

#sbutton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #51aaa3;
  border: #fff 3px solid;
  border-radius: 10px;
}

.timer {
    float:right;
    color: #fff;
    border: #51aaa3 2px inset;
    margin-top: 5px;
    padding: 5px;  
}

#A:hover , #B:hover , #C:hover ,#D:hover { 
    background-color: slategray;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}